@charset "UTF-8";
form {
  margin: 0; }

/*共通パーツ*/
.el_fixedMessage {
  position: fixed;
  top: 25px;
  right: 0px;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  z-index: 1001;
  border-radius: 5px;
  border: 1px solid #222;
  padding: 10px 20px;
  max-width: 200px;
  background-color: #fff;
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }
  .el_fixedMessage.js_open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    right: 25px; }

/*共通パーツここまで*/
.el_headerLogo {
  position: relative;
  top: 8px;
  left: auto;
  width: 40px; }

/*サイドナビ*/
.bl_navBlock {
  position: fixed;
  right: 0;
  width: 300px;
  top: 0;
  bottom: 0;
  background-color: #f7f7f7;
  z-index: 1001;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }
  .js_navOpen .bl_navBlock {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

/*.el_headerLogo_part{
	transition: fill 200ms ease-out;
}*/
path.el_headerLogo_part__1 {
  fill: #ccc;
  -webkit-transition: fill 200ms ease-out;
  -o-transition: fill 200ms ease-out;
  transition: fill 200ms ease-out; }

.el_headerLogo:hover path.el_headerLogo_part__1 {
  fill: #132433; }

path.el_headerLogo_part__2 {
  fill: #ccc;
  -webkit-transition: fill 200ms ease-out;
  -o-transition: fill 200ms ease-out;
  transition: fill 200ms ease-out;
  -ms-transition: fill 200ms ease-out;
  -moz-transition: fill 200ms ease-out; }

.el_headerLogo:hover path.el_headerLogo_part__2 {
  fill: #1A3144; }

polygon.el_headerLogo_part__3 {
  fill: #ccc;
  -webkit-transition: fill 200ms ease-out;
  -o-transition: fill 200ms ease-out;
  transition: fill 200ms ease-out;
  -ms-transition: fill 200ms ease-out;
  -moz-transition: fill 200ms ease-out; }

.el_headerLogo:hover polygon.el_headerLogo_part__3 {
  fill: #376790; }

polygon.el_headerLogo_part__4 {
  fill: #ccc;
  -webkit-transition: fill 200ms ease-out;
  -o-transition: fill 200ms ease-out;
  transition: fill 200ms ease-out;
  -ms-transition: fill 200ms ease-out;
  -moz-transition: fill 200ms ease-out; }

.el_headerLogo:hover polygon.el_headerLogo_part__4 {
  fill: #4F95D0; }

polygon.el_headerLogo_part__5 {
  fill: #ccc;
  -webkit-transition: fill 200ms ease-out;
  -o-transition: fill 200ms ease-out;
  transition: fill 200ms ease-out;
  -ms-transition: fill 200ms ease-out;
  -moz-transition: fill 200ms ease-out; }

.el_headerLogo:hover polygon.el_headerLogo_part__5 {
  fill: #1E3A51; }

path.el_headerLogo_part__6 {
  fill: #ccc;
  -webkit-transition: fill 200ms ease-out;
  -o-transition: fill 200ms ease-out;
  transition: fill 200ms ease-out;
  -ms-transition: fill 200ms ease-out;
  -moz-transition: fill 200ms ease-out; }

.el_headerLogo:hover path.el_headerLogo_part__6 {
  fill: #4F95D0; }

path.el_headerLogo_part__7 {
  fill: #ccc;
  -webkit-transition: fill 200ms ease-out;
  -o-transition: fill 200ms ease-out;
  transition: fill 200ms ease-out;
  -ms-transition: fill 200ms ease-out;
  -moz-transition: fill 200ms ease-out; }

.el_headerLogo:hover path.el_headerLogo_part__7 {
  fill: #132433; }

.el_deleteButton {
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #f44336;
  color: #fff;
  white-space: nowrap;
  padding: 5px 12px 3px;
  border-radius: 5px;
  font-size: 14px;
  border: 0;
  text-align: center; }

.bl_tableBlock_ttl {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 20px; }
  @media screen and (max-width: 840px) {
    .bl_tableBlock_ttl {
      font-size: 18px;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #d3e0e9; } }

.bl_tableBlock_wrapper {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.bl_tableBlock_tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 50px;
  position: relative;
  border-bottom: 1px solid #1d1d1d;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  -webkit-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
  cursor: pointer; }
  .bl_tableBlock_tr:hover {
    opacity: 0.7; }
  .users_list_book__cell .bl_tableBlock_tr {
    display: block;
    width: calc((100% - 30px)/4);
    margin-right: 5px;
    margin-bottom: 30px;
    border-bottom: 0; }
    @media screen and (max-width: 840px) {
      .users_list_book__cell .bl_tableBlock_tr {
        width: calc((100% - 5px)/2); }
        .users_list_book__cell .bl_tableBlock_tr:nth-child(2n) {
          margin-right: 0; } }
    .users_list_book__cell .bl_tableBlock_tr:nth-child(4n) {
      margin-right: 0; }
  .bl_tableBlock_tr:last-child {
    border-bottom: 0; }

.bl_tableBlock_tr.bl_tableBlock_tr__toggle {
  padding: 20px 0; }

.bl_panelBlock {
  padding: 60px 40px 80px; }
  @media screen and (max-width: 840px) {
    .bl_panelBlock {
      padding: 20px 20px 40px; } }

.bl_tableBlock_th {
  width: 200px;
  padding: 0 0 0 15px;
  font-size: 18px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .users_list_book__cell .bl_tableBlock_th {
    margin-bottom: 10px;
    width: 100%; }
  @media screen and (max-width: 840px) {
    .bl_tableBlock_th {
      font-size: 16px;
      width: 100%; } }

.bl_tableBlock_td {
  width: calc(100% - 200px);
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px 0 10px; }
  .users_list_book__cell .bl_tableBlock_td {
    width: 100%; }

.bl_toggleBlock {
  width: 100%; }

.bl_toggleBlock_ttl {
  text-align: center;
  background-color: #3097D1;
  padding: 20px 0;
  color: #fff;
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .bl_toggleBlock_ttl:hover {
    background-color: #fff;
    color: #3097D1;
    border: 1px solid #3097D1; }
  .bl_toggleBlock.js_open > .bl_toggleBlock_ttl {
    background-color: #fff;
    color: #3097D1;
    border: 1px solid #3097D1; }

.js_toggleContent {
  display: none; }

.bl_formBlock_item {
  margin-bottom: 10px; }

.el_toggleButton {
  position: relative;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }
  .el_toggleButton:after {
    content: "";
    width: 10px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg); }
    .bl_toggleBlock_ttl:hover .el_toggleButton:after {
      background-color: #3097D1; }
    .bl_toggleBlock.js_open .el_toggleButton:after {
      -webkit-transform: translate(-50%, -50%) rotate(-180deg);
      -ms-transform: translate(-50%, -50%) rotate(-180deg);
      transform: translate(-50%, -50%) rotate(-180deg);
      background-color: #3097D1; }
  .el_toggleButton:before {
    content: "";
    width: 10px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg); }
    .bl_toggleBlock_ttl:hover .el_toggleButton:before {
      background-color: #3097D1; }
    .bl_toggleBlock.js_open .el_toggleButton:before {
      -webkit-transform: translate(-50%, -50%) rotate(-180deg);
      -ms-transform: translate(-50%, -50%) rotate(-180deg);
      transform: translate(-50%, -50%) rotate(-180deg);
      background-color: #3097D1; }
  .bl_toggleBlock_ttl:hover .el_toggleButton {
    border: 1px solid #3097D1; }
  .bl_toggleBlock.js_open .el_toggleButton {
    border: 1px solid #3097D1; }

.js_ajaxDelete {
  cursor: pointer; }

.bl_tableBlock_wrapper.users_list_book__cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/*js*/
.js_fixed {
  position: fixed;
  width: 100%;
  height: 100%; }
